.DS_Store

node_modules

lib/core/metadata.js
lib/core/MetadataBlog.js

website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*

.idea
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/configcat.docs/v15/.suo
/.vs/config/applicationhost.config