@use 'sass:color';
@use 'sass:map';

$colors: (
  'get': #1adb01,
  'post': #70b8ff,
  'put': #ffd900,
  'patch': #ff8528,
  'delete': #ff534d,
);

$contents: (
  'get': 'get',
  'post': 'post',
  'put': 'put',
  'patch': 'patch',
  'delete': 'del',
);

$badge-classes: (
  'get': 'badge--primary',
  'post': 'badge--success',
  'put': 'badge--info',
  'patch': 'badge--warning',
  'delete': 'badge--danger',
);

:root {
  @each $name, $color in $colors {
    --#{$name}-background-color: #{color.adjust($color, $alpha: -0.7)};
    --#{$name}-border: 1px solid #{color.adjust($color, $lightness: -20%, $alpha: -0.75)};
    --#{$name}-color: #{color.adjust($color, $lightness: -50%)};
  }
}

[data-theme='dark'] {
  @each $name, $color in $colors {
    --#{$name}-background-color: #{color.adjust($color, $alpha: -0.9)};
    --#{$name}-border: 1px solid #{color.adjust($color, $alpha: -0.7)};
    --#{$name}-color: #{color.adjust($color, $lightness: 10%, $alpha: -0.1)};
  }
}

.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 34px;
  height: 16px;
  font-size: 9px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: var(--ifm-badge-border-radius);
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
}

.api-method.menu__list-item--deprecated {
  text-decoration: line-through;
}

@each $name, $color in $colors {
  .#{$name} > .menu__link::before {
    content: "#{map.get($contents, $name)}";
    background-color: var(--#{$name}-background-color);
    border: var(--#{$name}-border);
    color: var(--#{$name}-color);
  }
}

.openapi__method-endpoint {
  @each $name, $color in $colors {
    .#{map.get($badge-classes, $name)} {
      background-color: var(--#{$name}-background-color);
      border: var(--#{$name}-border);
      color: var(--#{$name}-color);
    }
  }
}