/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #f7912d;
  --ifm-color-primary-dark: #f68211;
  --ifm-color-primary-darker: #ef7b09;
  --ifm-color-primary-darkest: #c56508;
  --ifm-color-primary-light: #f8a049;
  --ifm-color-primary-lighter: #f9a757;
  --ifm-color-primary-lightest: #fabd81;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.video-container {
  height: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bordered {
  border: 1px solid rgb(224, 224, 224);
}

.saml-tutorial-img {
  border: 1px solid rgb(224, 224, 224);
  margin-bottom: 1rem;
}

table td:first-child {
  white-space: nowrap;
}

.bottom-spaced {
  margin-bottom: 1em;
}

span[class*='codeLineNumber'] {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
