/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@use 'proxy';
@use 'api';
@use 'sidebar';
@use 'toc';
@use 'cards';

:root {
  --ifm-color-primary: #f08d2a;
  --ifm-color-primary-dark: #ec8013;
  --ifm-color-primary-darker: #e7790a;
  --ifm-color-primary-darkest: #c56508;
  --ifm-color-primary-light: #f8a049;
  --ifm-color-primary-lighter: #f9a757;
  --ifm-color-primary-lightest: #fabd81;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #fff;

  --menu-secondary-color: var(--ifm-menu-color);
  --docusaurus-highlighted-code-line-bg: rgb(235, 235, 235);
  --bordered-img-color: rgb(226, 226, 226);
}

[data-theme='dark'] {
  --menu-secondary-color: rgb(192, 192, 192);
  --docusaurus-highlighted-code-line-bg: #3f4255;
  --bordered-img-color: rgb(138, 138, 138);
}

.theme-code-block-highlighted-line {
  display: table-row !important;
}

.youtube-container {
  height: 0;
  margin: 0;
  margin-bottom: 30px;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: auto;
}

li > h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

.bordered-img {
  border: 1px solid var(--bordered-img-color);
  margin-bottom: 1rem;
}

.zoomed-in-img {
  border: 1px solid var(--bordered-img-color);
}

table td:first-child {
  white-space: nowrap;
}

.bottom-spaced {
  margin-bottom: 1em;
}

span[class*='codeLineNumber'] {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

main article img:not(.no-auto-height) {
  // See also https://github.com/configcat-labs/content-wiki/blob/main/screenshot-guide.md#embedding-screenshots
  height: auto;
}

ul.feature-list {
  --ifm-list-left-padding: 1.25em;
  -moz-padding-start: 1em;
}

[data-theme='dark'] .monochrome-image.theme-aware {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.docs-doc-id-subscription-plan-limits {
  table {
    th:first-of-type {
      width: 100%;
    }
  }
}
