.theme-doc-sidebar-menu > li > div:first-child,
.theme-doc-sidebar-menu > li > a:first-child {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  padding-left: 23px;
}

.theme-doc-sidebar-menu > li:first-of-type > div:first-child {
  margin-top: 6px;
}

.theme-doc-sidebar-menu > li > a:first-child {
  padding-left: 35px;
}

.theme-doc-sidebar-menu > li:last-child {
  margin-bottom: 30px;
}

.theme-doc-sidebar-menu > li > ul.menu__list {
  margin-bottom: 16px;
  padding-left: 0;
  border-left: 1px solid var(--ifm-toc-border-color);
  margin-left: 18px;
}

.menu > .menu__list .menu__list {
  font-size: 14px;
  font-weight: 400;

  .menu__link {
    padding-left: 16px;
  }

  .menu__link--active {
    position: relative;
  }

  .menu__link--active:not(.menu__link--sublist):after,
  .menu__list-item-collapsible--active:after {
    background: var(--ifm-color-primary);
    width: 3px;
    position: absolute;
    bottom: 0;
    left: -2px;
    top: 0;
    content: '';
  }

  ul .menu__link--active:not(.menu__link--sublist):after,
  ul .menu__list-item-collapsible--active:after {
    left: -14px;
  }

  ul ul .menu__link--active:not(.menu__link--sublist):after,
  ul ul .menu__list-item-collapsible--active:after {
    left: -26px;
  }

  ul ul ul .menu__link--active:not(.menu__link--sublist):after,
  ul ul ul .menu__list-item-collapsible--active:after {
    left: -38px;
  }
}

.menu__caret:before,
a.menu__link--sublist-caret:after {
  width: 20px;
  height: 20px;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

@mixin mask-base() {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon {
  position: relative;
}

.icon:before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: 0;
  display: inline-block;
  margin: auto auto auto 12px;
  width: 16px;
  height: 16px;
  background-color: var(--ifm-menu-color);
}

.basics-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/basics.svg');
}

.guides-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/guides.svg');
}

.integrations-icon:before {
  @include mask-base();
  width: 16px;
  height: 16px;
  mask-image: url('/static/assets/category-icons/integrations.svg');
}

.status-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/status.svg');
}

.news-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/news.svg');
}

.faq-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/faq.svg');
}

.sdk-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/sdk.svg');
}

.of-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/of.svg');
}

.community-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/community.svg');
}

.legacy-icon:before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/legacy.svg');
}

.api-icon:before {
  @include mask-base();
  width: 18px;
  height: 18px;
  mask-image: url('/static/assets/category-icons/api.svg');
}

.scim-icon:before {
  @include mask-base();
  width: 18px;
  height: 18px;
  mask-image: url('/static/assets/category-icons/scim.svg');
}
