.theme-doc-sidebar-menu > li > div:first-child,
.theme-doc-sidebar-menu > li > a:first-child {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 700;
  padding-left: 23px;
}

.theme-doc-sidebar-menu > li:first-of-type > div:first-child {
  margin-top: 6px;
}

.theme-doc-sidebar-menu > li > a:first-child {
  padding-left: 35px;
}

.theme-doc-sidebar-menu > li:last-child {
  margin-bottom: 30px;
}

.theme-doc-sidebar-menu ul.menu__list {
  margin-bottom: 16px;
  padding-left: 0;
  border-left: 1px solid var(--ifm-toc-border-color);
  margin-left: 18px;
}

.menu > .menu__list .menu__list {
  font-size: 14px;
  font-weight: 400;

  .menu__link {
    padding-left: 16px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .menu__link--active {
    border-left: 3px solid var(--ifm-color-primary);
    margin-left: -2px;
    padding-left: 15px;
  }
}

.menu__list-item:not(:first-child) {
  margin-top: unset;
}

.menu__caret:before,
a.menu__link--sublist-caret:after {
  width: 20px;
  height: 20px;
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

@mixin mask-base() {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.icon {
  position: relative;
}

.icon::before {
  content: '';
  position: absolute;
  top: 0.5em;
  left: 0;
  display: inline-block;
  margin: auto auto auto 12px;
  width: 16px;
  height: 16px;
  background-color: var(--ifm-menu-color);
}

.basics-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/basics.svg');
}

.guides-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/guides.svg');
}

.integrations-icon::before {
  @include mask-base();
  width: 16px;
  height: 16px;
  mask-image: url('/static/assets/category-icons/integrations.svg');
}

.status-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/status.svg');
}

.news-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/news.svg');
}

.faq-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/faq.svg');
}

.sdk-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/sdk.svg');
}

.of-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/of.svg');
}

.community-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/community.svg');
}

.legacy-icon::before {
  @include mask-base();
  mask-image: url('/static/assets/category-icons/legacy.svg');
}

.api-icon::before {
  @include mask-base();
  width: 18px;
  height: 18px;
  mask-image: url('/static/assets/category-icons/api.svg');
}

.scim-icon::before {
  @include mask-base();
  width: 18px;
  height: 18px;
  mask-image: url('/static/assets/category-icons/scim.svg');
}
