---
id: domain-verification
title: Domain Verification
---

In order to use the [SAML Single Sign-On](./saml/saml-overview) and the [Auto-assign Users](./auto-assign-users) features, you have to verify the ownership of the domain that your company uses for email addresses.

#### Steps to verify your domain:

- Open your organization's authentication settings on the <a href="https://app.configcat.com/organization/authentication" target="_blank">ConfigCat dashboard</a>.

  <img class="saml-tutorial-img" src="/static/assets/saml/dashboard/authentication.png" />

- Click `ADD & VERIFY DOMAIN`.

  <img class="saml-tutorial-img" src="/static/assets/saml/dashboard/add_domain.png" />

- Type your domain name, then click `ADD`

  <img class="saml-tutorial-img" src="/static/assets/saml/dashboard/domain_name.png" />

- Follow the instructions on the appearing dialog to verify your domain.

  <img class="saml-tutorial-img" src="/static/assets/saml/dashboard/verify_domain.png" />