---
id: domain-verification
title: Domain Verification
description: In order to use the SAML feature in ConfigCat, you need to verify your domain. Here is a step-by-step guide on how to do that.
---

In order to use the [SAML Single Sign-On](/docs/advanced/team-management/saml/saml-overview) and the [Auto-assign Users](/docs/advanced/team-management/auto-assign-users) features, you have to verify the ownership of the domain that your company uses for email addresses.

#### Steps to verify your domain:

- Open your organization's authentication settings on the <a href="https://app.configcat.com/organization/authentication" target="_blank">ConfigCat dashboard</a>.

  <img className="saml-tutorial-img zoomable" src="/docs/assets/saml/dashboard/authentication.png" alt="ConfigCat authentication settings" />

- Click `ADD & VERIFY DOMAIN`.

  <img className="saml-tutorial-img zoomable" src="/docs/assets/saml/dashboard/add_domain.png" alt="ConfigCat add & verify domain" />

- Type your domain name, then click `ADD`

  <img className="saml-tutorial-img zoomable" src="/docs/assets/saml/dashboard/domain_name.png" alt="ConfigCat add domain"  />

- Follow the instructions on the appearing dialog to verify your domain.

  <img className="saml-tutorial-img zoomable" src="/docs/assets/saml/dashboard/verify_domain.png" alt="ConfigCat verify domain" />