:global(.hash-link) {
  opacity: 0;
  padding-left: 0.5rem;
  transition: opacity var(--ifm-transition-fast);
  user-select: none;
}

:global(.hash-link::before) {
  content: '#';
}

:global(.hash-link:focus),
:global(*:hover > .hash-link) {
  opacity: 1;
}

/* Custom Styles */
:global(.custom-h1-wrapper) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  /* Remove the margin from the h1 element... */
  h1 {
    margin: 0 !important;
  }

  /* Apply it to the wrapper instead */
  margin-bottom: var(--ifm-heading-margin-bottom);
}

@media (max-width: 767px) {
  :global(.custom-h1-wrapper) {
    display: block;
  }
}
